.main-monitoring-details {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.header {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  > .logo {
    width: 233px;
    height: 37px;
    margin-left: 1rem;
  }
}

.navbar {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 65%;
  
  > li {
    > a {
      color: white;
      font-weight: 500;
      margin: 0 1rem;
    }
  }
}

.menu {
  width: 14%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 1.5rem;

  > span {
    font-weight: 500;
  }
}

.section-header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > h2 {
    margin-left: 1rem;
  }

  > div {
    width: 350px;
    margin-right: 1rem;
    display: flex;

    > img {
      margin-right: 1.5rem;
    }
  }
}

.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: calc(100% - 2rem);
  margin-bottom: 1rem;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  > .left {
    width: calc(50% - 3rem);
    padding: 1.5rem;

    > .group {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;

      > h3 {
        margin-bottom: 0.5rem;
      }
    }

    > .bottom {
      display: flex;

      > button:nth-child(2) {
        margin: 0 1rem;
      }
    }
  }

  > .right {
    width: 50%;
    height: 100%;
    background-image: url('../assets/google-maps.png');
  }
}